@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

html, body {
    height: 100%;
    background-color: rgb(241 245 249); /* slate-100 */
}

#root {
    height: 100%;
}

.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-layer{
    background-image: url(/bg_layer.png);
}